<script language="JavaScript">
    function SubmitForm(pk) {
        var form = document.sform;
        form.pk.value = pk;
        form.submit();
    }
</script>


{% extends 'base.html' %}

{% block title %} - Proposal Submit {% endblock %}

{% block content %}

    {% if kinds %}
        {% with kind=kinds|first%}
            {{ kind.name }}
            <form name="sform" method="post" action="{% url 'proposal_cancel' kind.pk %}">
                {% csrf_token %}
                <input type="hidden" name="pk">
            </form>
            <a href="javascript:SubmitForm({{ kind.pk }})">Cancel</a>
        {% endwith %}
    {% endif %}

    {% comment %}
    Proposal List with detail view possibility and cancel possibility

    <h3>Proposal Submit</h3>

    {% if kinds %}
        {% for kind in kinds %}
            <br>
            <a href="{% url 'proposal_detail' kind.pk %}">{{ kind.name }}</a>

            <form name="sform" method="post" action="{% url 'proposal_cancel' kind.pk %}">
                <input type="hidden" name="pk">
            </form>
            <a href="javascript:SubmitForm({{ kind.pk }})">Cancel Post</a>

            <a href="{% url 'proposal_cancel' kind.pk %}">Cancel Get</a>
        {% endfor %}
    {% endif %}

    {% endcomment %}

{% endblock %}