{% extends 'base.html' %}

{% block script %}

<script language="JavaScript">
$(document).ready(function() {
    $('.js-submit-link').on('click', function(e) {
        $(this).closest('form').submit();
        e.preventDefault();
    });
});

</script>
{% endblock %}

{% block title %} - Proposal Submit {% endblock %}

{% block content %}

    <h3>Proposal Submit</h3>

    {% if kinds %}
        {% for kind in kinds %}
            <br>
            <a href="{% url 'proposal_detail' kind.pk %}">{{ kind.name }}</a>
            <form name="sform" method="post" action="{% url 'proposal_cancel' kind.pk %}">
                {% csrf_token %}
                <input type="hidden" name="pk">
                <a href="#" class="js-submit-link">Cancel this proposal</a>
            </form>
        {% endfor %}
    {% endif %}


{% endblock %}