{% extends 'base.html' %}

{% block title %} - Schedule List{% endblock %}

{% block content %}
    <p></p>
    <h3>Shedule Section</h3>
    {% if schedule %}
        <a href="{% url 'schedule_detail' schedule.section.slug %}">
            {{ schedule.section }}
        </a>
    {% endif %}

    <p></p>
    <h3>Presentations</h3>
    {% if presentations %}
        {% for presentation in presentations %}
            {{ presentation }}
            <a href="{% url 'schedule_presentation_detail' presentation.pk %}">
                {{ presentation }}
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}