{% extends 'base.html' %}

{% block content %}

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <p></p>

    <h3>Speakers</h3>
    <a href="{% url 'speaker_create' %}">Create Speaker</a>
    <p></p>
    <a href="{% url 'speaker_edit' %}">Edit Speaker</a>

    <h3>Conference Shedule</h3>
    <a href="{% url 'schedule_list' %}">Schedule and Presentation List</a>
    <p></p>
    <a href={% url 'schedule_session_list' %}>Session List</a>
{% comment %}
    <h3>Proposals</h3>
    <a href="{% url 'proposal_submit' %}">Proposals</a>
{% endcomment %}
{% endblock %}